img[src$="53e3448ecadfc5911c8f83467f975934e51b90875f9d09bcee0004e56eb3ac65.svg"] {
    width: 0.4em;
    height: 0.8em;
    top: 0.09250000000000003em;
}
img[src$="836e15517598ad035eccf294417e8ae33c7b5792020f0e8a22cb02cd0ee56a5a.svg"] {
    width: 1.5em;
    height: 0.8em;
    top: 0.2925em;
}
img[src$="7a4707d97fa81f8de1a9dc12217902eb5f621d5702384048bad9570aee050c4b.svg"] {
    width: 5.1em;
    height: 1em;
    top: 0.2925em;
}
img[src$="26d7547d7c7ecbf67187c7555d98b4ea4fe1f66c74b96b14fb13c43dce21088d.svg"] {
    width: 0.5em;
    height: 1em;
    top: 0.2925em;
}
img[src$="1569597779771b35c1c5f296b6e71de195a94ba70348b3991e072084f4b16432.svg"] {
    width: 2.1em;
    height: 1.1em;
    top: 0.2925000000000002em;
}
img[src$="6195e5a2564d77a865b298e44c2e2c23314eed11bbc969c3901e2cb6a09e22d2.svg"] {
    width: 34.6em;
    height: 1em;
    top: 0em;
}
img[src$="9ab485e6510b169f689e2c835d07075e73c9e208a50e71aeec484fc901860969.svg"] {
    width: 34.5em;
    height: 13em;
    top: 0em;
}
img[src$="c7e529449e4fbc87ce8dc1d08b1fb705e99c1de2f0aea9c6f6e1e0fa888341fc.svg"] {
    width: 3.5em;
    height: 1.1em;
    top: 0.2925000000000002em;
}
img[src$="81b5c5aa048d0124fb9d9231a9377d74e4db9553d0754101d36453cb1502b819.svg"] {
    width: 36.8em;
    height: 1.3em;
    top: 0em;
}
img[src$="410816bfc80e2a96a3c69f62957a5ffd214c1ab05a9ffec2c41c68701b139a5c.svg"] {
    width: 34.6em;
    height: 14.3em;
    top: 0em;
}
