img[src$="0f5315649e97d8793aa782b7eca9a048b19ac976adb4f6385cb509cabd594cc1.svg"] {
    width: 1em;
    height: 0.8em;
    top: 0.2925em;
}
img[src$="26d7547d7c7ecbf67187c7555d98b4ea4fe1f66c74b96b14fb13c43dce21088d.svg"] {
    width: 0.5em;
    height: 1em;
    top: 0.2925em;
}
img[src$="1620030130343337e0dab0d08f8095f074a18a86058f3634accab86669a2f2ea.svg"] {
    width: 5.9em;
    height: 0.9em;
    top: 0em;
}
img[src$="fe6b220447c2bd6d45ab8ff0d0b65edd362012f0a3c96d701d828e2410b6be75.svg"] {
    width: 21.3em;
    height: 0.9em;
    top: 0em;
}
img[src$="4f6f427f0615659fa4a02d5644d4c7053efba3177b62cb38b7c22be717b1c464.svg"] {
    width: 21.9em;
    height: 17.5em;
    top: 0em;
}
