img[src$="bcec96cab8d4b3bfc763dca9910eeaffb0f09323b9f4fd377f39b406aac3fcda.svg"] {
    width: 17.4em;
    height: 7em;
    top: 0em;
}
img[src$="9a5c4c204df23345eaa6b6d03e29a32380f44314ce78a20932435c85ca6540f3.svg"] {
    width: 1.1em;
    height: 0.8em;
    top: 0.09250000000000003em;
}
img[src$="f3f0778544a87dce67c6a85f212ffa36c4b492803d2bd798e51d1b3004e61f8e.svg"] {
    width: 4.4em;
    height: 0.8em;
    top: 0.09250000000000003em;
}
img[src$="3ec066846eb182e83bf1ef4efb6f3007f1560eb7d6de4d71cda8c448d5b3f1e2.svg"] {
    width: 1.2em;
    height: 0.8em;
    top: 0.09250000000000003em;
}
