img[src$="b08921be832689517a01337d74fc3d16a110768e5dc35cc97069908ae4e18f34.svg"] {
    width: 3.3em;
    height: 0.9em;
    top: 0em;
}
img[src$="5c2d528cccfc1815fd09b819843bc128383465300f2d8679c96a378a25a83c94.svg"] {
    width: 3.3em;
    height: 0.9em;
    top: 0em;
}
img[src$="cabaed784647fb2edf1bc10164ca105d658030acdcdddf39d787f9d781b463c4.svg"] {
    width: 11.2em;
    height: 1.1em;
    top: 0em;
}
img[src$="d62b1ebc7584f9ccf8b18ccf9438aaf034f4672b375ee0fcb442fcdadb7a0c68.svg"] {
    width: 12em;
    height: 0.9em;
    top: 0em;
}
img[src$="32088496a837c0225929e3155456205877c1a7657967e906930fc07bed01237d.svg"] {
    width: 13.8em;
    height: 0.9em;
    top: 0em;
}
img[src$="9c8e32820e52cb3df653b1aae1ebcba76b3be6f23c28f0b1574e14e30fb38132.svg"] {
    width: 17.6em;
    height: 3em;
    top: 0em;
}
img[src$="cd53ed95ae6f21a9030db9a8cd2d4bcd40c61f39d63a1189fdccba46e796a582.svg"] {
    width: 15.2em;
    height: 11.4em;
    top: 0em;
}
img[src$="663626e87208a433842fb9a407d4f9187d61174f4e24303310d2b6d1be838d67.svg"] {
    width: 5.1em;
    height: 0.9em;
    top: 0em;
}
