img[src$="f9f571c1acb06d7fb5cece20ecc09f828fe562c6d4948ac0698d5fa8dd53cf79.svg"] {
    width: 1.1em;
    height: 0.7em;
    top: 0.1924999999999999em;
}
img[src$="f6b59ec2a2fd58169adce23272f7dc692d1b7dec1cbbf692e12d2ef76f130b9d.svg"] {
    width: 4em;
    height: 0.8em;
    top: 0.2925em;
}
img[src$="4a37ee5448e47c508a8a4ab4603d794f23136e78c24d860c5f0485b0a90e523b.svg"] {
    width: 3em;
    height: 0.9em;
    top: 0.1925em;
}
img[src$="3ccd003e76a355ed62f63a59799a014a54487fc6279fac68c7754f31e944953c.svg"] {
    width: 10em;
    height: 0.9em;
    top: 0.1925em;
}
img[src$="fc59944a1d1ea28127f4089fb35f8a462f12e23e7679fe06e7fe0adcea8d795c.svg"] {
    width: 15.4em;
    height: 7em;
    top: 0em;
}
img[src$="a3f43614e604f82a6e89bfdb6dc73c639ab4808387190f49163d244f24b5608a.svg"] {
    width: 2.9em;
    height: 0.9em;
    top: 0.1925em;
}
img[src$="bb582e98b7f78de499bf996a8f33c8a676161d45ca7f23e46ecb0f1329dacf21.svg"] {
    width: 2.9em;
    height: 0.9em;
    top: 0.1925em;
}
img[src$="4f4ce8b228f7f4fd3b4c9a80721aa56c963f08e73d3f156041a8cff5008c3932.svg"] {
    width: 3.5em;
    height: 0.8em;
    top: 0.09250000000000003em;
}
img[src$="fe5bbf46f14fd297285932a691f99a02a90db2a031c473c7fa6c819bda6d371a.svg"] {
    width: 4.1em;
    height: 1.1em;
    top: 0.2925000000000002em;
}
img[src$="410816bfc80e2a96a3c69f62957a5ffd214c1ab05a9ffec2c41c68701b139a5c.svg"] {
    width: 34.6em;
    height: 14.3em;
    top: 0em;
}
